
html,
body {
  margin: 0;
}
marquee{
  background-color: #013d5f;
  color: bisque;
}
.header1  {
  background-color: #0ecfb6;
  font-size: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.image1{
  height: 130px;
  margin-right: 180px;
}
.image2{
  height: 108px;
  margin-left: 180px;
}

.main{
  height: fit-content;
  border: 1px solid black;
  display:inline-block;
  margin-left: 280px;
  margin-top: 20px;
  border-radius: 7px;
  width: 50%;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  min-height: 100vh;
  margin-bottom: 70px;
}
.marq{
  background-color: aliceblue;
  color: blue;
  height: 215px;
}
.mainhead{
  background-color: #0ecfb6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  height: 30px;
  padding-top: 8px;
  font-size: 16px;
  color: crimson;
}
.new{
  position:absolute;
  border: 1px solid black;
  height: 250px;
  width: 250px;
  margin-top: 23px;
  margin-left: 9px;
  border-radius: 9px;
}
.newhead{
  background-color: #0ecfb6;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; 
  height: 25px;
  padding-top: 5px;
  font-size: 16px;
  color: crimson;
}
.data{
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 10px;
}
button{
  height: 20px;
  width: 72px;
  background-color: rgb(0, 65, 245);
  color: rgb(26, 245, 55);
  margin-left: 80px;
  border-radius: 6px;
}
footer{
  background-color:#0ecfb6;
  margin-top: 15px;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.tag{
  text-align: left;
  margin-bottom:-15px;
}
.names{
  text-align: center;
}
.table1{
    border: 1px solid black;
    margin-left: 70px;
    padding: 15px;
    font-size: 17px;
    margin-right: 30px;
}
th,
td{
    border: 1px solid black ;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}
#nameofstudent{
  width:385px
}
.right{
  display: inline;
}
.printpage{
  margin-top: 12px;
  margin-left: 260px;
  height: 30px;
  width: 100px;
}

.cong{
  height: 25px;
}
.righttag{
  text-align: right;
  margin-bottom: 3px;
}

/* Navigation bar */
#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #0ecfb6;
}

#brand a {
  color: #09c372;
}

ul {
  margin-top: 0px;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color:aqua;
  text-decoration: none;
  font-size: 18px;
}

ul li {
  padding: 5px;
  margin-left: 80px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.navigat{
  padding: 0 20px;
  background-color: #040035;
  height: 35px;
  display: flex;
  justify-content: space-between;

}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}












@media print{
  .header1{
    background-color: brown;
    margin-bottom: -200px;
  }
  .new{
    visibility: hidden;
  }
  .main{
    margin-left: -40px;
    border: none;
  }
  .mainhead{
    visibility: hidden;
  }

.table1{
  margin-top: 0px;
  width: max-content;
}
.heading{
  margin-top: -29px;
}
  th,
  td{
    margin-top: 0px;
    width: max-content;
  }
  #smt-btn{
    visibility: hidden;
  }
  .header1{
    font-size: 14px;
  }
  footer{
    visibility: hidden;
  }
  .cong{
    visibility: hidden;
  }
  .image1{
    height: 65px;
  }
  .image2{
    height: 64px;
  }
  .printpage{
    visibility: hidden;
  }
  .navigat{
    visibility: hidden;
  }
}




@media only screen and (max-width: 750px) {
  .navigat nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  ul a{
    color: rgb(98, 0, 255);
    background-color: #f34906;
    font-size: 20px;
    display: flex;
  }
}





@media screen and (max-width:750px)
{
html,
body {
  margin: 0;
}
.new,
.newhead{
  visibility: hidden;
}
#brand{
  font-size: 12px;
}
.header1{
  background-color: #0ecfb6;
  font-size: 9px;
  display: flex;
  height: 70px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.image1{
  height: 58px;
  margin-right: 10px;
}
.image2{
  height: 42px;
  margin-left: 5px;
}
.main{
  height: 280px;
  border: 1px solid black;
  display:inline-block;
  margin-left: 10px;
  margin-top: 0px;
  border-radius: 4px;
  width: 320px;
  font-size: 12px;
  display: contents;
}
.mainhead{
  background-color: #0ecfb6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  height: 20px;
  padding-top: 5px;
  font-size: 12px;
  color: crimson;
}
.data{
  margin-top: 32px;
  margin-left: 15px;
}
button{
  height: 15px;
  font-size: 11px;
  margin-left: 100px;
  margin-top: 5px;
  width: 53px;
  display: flex;
  border-radius: 5px;
}

.new{
  visibility: hidden;
}
.navigat{
  height: 30px;
  font-size: 1px;
}

.table1{
  border: 1px solid black;
  margin-left: 6px;
  width: 96%;
  padding: 4px;
  font-size: 10px;
}
th,
td{
  border: 1px solid black ;
  text-align: center;
}
#nameofstudent{
  width: 242px;
}
.cong{
height: 15px;
font-size: 12px;
/* margin-bottom: -150px; */
}
.printpage{
  margin-bottom: 50px;
  margin-left: 100px;
  text-align: center;
  padding-top: 8px;
  padding-left: 16px;
}
footer{
  height: 28px;
  bottom: 0px;
  font-size: 11px;

}

.righttag{ 
    visibility: hidden;
}
}