
html,
body {
  margin: 0;
}
marquee{
  background-color: #013d5f;
  color: bisque;
}
.header1  {
  background-color: #0ecfb6;
  font-size: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.image1{
  height: 130px;
  margin-right: 180px;
}
.image2{
  height: 108px;
  margin-left: 180px;
}

.main{
  height: fit-content;
  border: 1px solid black;
  display:inline-block;
  margin-left: 280px;
  margin-top: 20px;
  border-radius: 7px;
  width: 50%;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  min-height: 100vh;
  margin-bottom: 70px;
}
.marq{
  background-color: aliceblue;
  color: blue;
  height: 215px;
}



/* Navigation bar */
#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #0ecfb6;
}

#brand a {
  color: #09c372;
}

ul {
  margin-top: 0px;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color:aqua;
  text-decoration: none;
  font-size: 18px;
}

ul li {
  padding: 5px;
  margin-left: 80px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.navigat{
  padding: 0 20px;
  background-color: #040035;
  height: 35px;
  display: flex;
  justify-content: space-between;

}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

  /* ****************** */

  .cong{
    height: 25px;
  }
  .newhead{
    background-color: #0ecfb6;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    height: 25px;
    padding-top: 5px;
    font-size: 16px;
    color: crimson;
  }
  .marq{
    background-color: aliceblue;
    color: blue;
    height: 215px;
  }
  .new{
    position:absolute;
    border: 1px solid black;
    height: 250px;
    width: 250px;
    margin-top: 23px;
    margin-left: 9px;
    border-radius: 9px;
  }  

  footer{
    background-color:#0ecfb6;
    margin-top: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
 
  .names{
    text-align: center;
  }


  /* ************************************************************* */
 
.container{
    margin-left: 300px;
    width: auto;
    height: auto;
    background-color: rgb(181, 227, 235);
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    padding: 3px;
    text-align: center;

}

.box{
    border-radius: 100px;
    width: 200px;
    height: 100px;
    background-color: rgb(25, 93, 180);
    margin: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: coral;
    text-align: center;
    flex-flow: wrap;
    padding-top: 40px;
   }


/* ****************Footer************** */
.tag{
  text-align: left;
  margin-bottom: -15px;  
  color:#9d0bff;
}
.righttag{
  text-align: right;
  color:#9d0bff;
}


@media only screen and (max-width: 750px) {
  .navigat nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  ul a{
    color: rgb(98, 0, 255);
    background-color: #f34906;
    font-size: 20px;
    display: flex;
  }
}



@media screen and (max-width:750px){
  html,
  body {
    margin: 0;
  }
 
.header1{
  background-color: #0ecfb6;
  font-size: 9px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
.image1{
  height: 50px;
  margin-right: 10px;
}
.image2{
  height: 38px;
  margin-left: 5px;
}
  pre{
    font-size: 14px;
    color:rgb(255, 0, 221);
    font-family: Arial, Helvetica, sans-serif;
  }
  .data{
    margin-top: 32px;
    margin-left: 15px;
  }
  button{
    height: 15px;
    font-size: 11px;
    margin-left: 100px;
    margin-top: 5px;
    width: 53px;
    display: flex;
    border-radius: 5px;
  }
#brand{
  font-size: 10px;
}
  .container{
    margin-left: 0px;
    width:48%;
    height: auto;
    background-color: rgb(181, 227, 235);
    display:inline-block;
    justify-content: space-around;
    border-radius: 15px;
    padding: 2px;
    text-align: center;
  }
  .new{
    visibility: hidden;
  }
  .box{
    border-radius: 50px;
    width: 90px;
    margin-left: 60px;
    background-color: rgb(25, 93, 180); 
    box-sizing: border-box;
    color: coral;
  }
    /* border-radius: 40px;
    width: 70px;
    text-align: center;
    height: 50px;
    background-color: rgb(25, 93, 180);
    margin: 10px;
    box-sizing: border-box;
    padding: auto;
    font-size: 12px;
    color: coral;
    text-align: center;
    padding-top: 40px;  
} */

  .new{
    visibility: hidden;
  }
  .newhead{
    background-color: #0ecfb6;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    height: 20px;
    padding-top: 2.5px;
    font-size: 12px;
    color: crimson;
  }
  
  .navigat{
    height:max-content;
  }
  
  .table1{
    border: 1px solid black;
    margin-left: 6px;
    padding: 4px;
    font-size: 10px;
  }
  th,
  td{
    border: 1px solid black ;
    text-align: center;
  }
  #nameofstudent{
    width: 242px;
  }
  .cong{
  font-size: 11px;
  height: auto;
  margin: 0px;
  }
  footer{
    font-size: 10px;
  }
  .righttag{
   visibility: hidden;
  }
}
