
html,
body {
  margin: 0;
}
marquee{
  background-color: #013d5f;
  color: bisque;
}
.header1  {
  background-color: #0ecfb6;
  font-size: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.image1{
  height: 130px;
  margin-right: 180px;
}
.image2{
  height: 108px;
  margin-left: 180px;
}
.container{
    border: 1px solid black;
    margin-top: 30px;
    width: max-content;
    height: auto;
    display: flex;
    padding: 20px;
    border-radius: 40px;
    margin-left: 300px;
}
.academic{
    border: 1px solid black;
    height: 200px;
    width: 300PX;
    border-radius: 40px;
    text-align: center;
    margin-left: 8px;
}
.acadhead{
    padding-top: 10px;
    background-color: #0ecfb6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.account{
    border: 1px solid black;
    height: 200px;
    width: 300PX;
    margin-left: 10px;
    border-radius: 40px;
    text-align: center;
}
.accounthead{
    padding-top: 10PX;
    background-color: #0ecfb6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}


@media screen and (max-width:600px){
html,
body {
  margin: 0;
}
.header1{
    background-color: #0ecfb6;
    font-size: 9px;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  .image1{
    height: 50px;
    margin-right: 10px;
  }
  .image2{
    height: 38px;
    margin-left: 5px;
  }
  .container{
    margin-top: 60px;
    width: 100%;
    font-size: 12px;
    height: auto;
    display: inline;
    padding: 20px;
    border-radius: 40px;
    margin-left: 300px;
}
.academic{
    border: 1px solid black;
    height: 130px;
    width: 300PX;
    border-radius: 40px;
    text-align: center;
    margin-left: 8px;
}
.acadhead{
    padding-top: 10px;
    background-color: #0ecfb6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.account{
    border: 1px solid black;
    height: 130px;
    width: 300PX;
    margin-left: 10px;
    border-radius: 40px;
    text-align: center;
}
.accounthead{
    padding-top: 10px;
    background-color: #0ecfb6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

}
